[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/clangcomplete"]
	path = bundle/clangcomplete
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/clones/vim-taglist.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/fuzzyfinder"]
	path = bundle/fuzzyfinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/pythoncomplete"]
	path = bundle/pythoncomplete
	url = git://github.com/mjbrownie/pythoncomplete.vim.git
